h1{
    font-style: normal;
    font-weight: bolder;
    text-align: justify;
}
form {
    position: relative;
    left: 500px;
}
body {
    background-color: maroon;
    color: #9CBF2D;
    position: relative;
    margin: 100px;
}
#main {
    position: relative;
    left: 150px;
    margin: inherit;
}
#output {
    position: relative;
    left: 150px;
    margin: inherit;
}
