body {
    background-color: #002A4E;
    color: #DDDAC7;
    font-family: 'Gurajada', serif;
    font-size: 1em;
}
header, main, nav, footer {
    text-align: center;
}
h1 {
    font-family: 'Bungee Shade', cursive;
    color: #2B7E9F;
    font-size: 4em;
    margin-bottom: 0px;
}
nav a { 
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.5em;
    text-decoration: none; 
    color: #DDDAC7; 
    font-family: 'Bungee Inline', cursive;
}
.active {
    background-color: #125A37;
    color: #DDDAC7;
}
nav a:hover { 
    background-color: #125A37;
    text-decoration: none;
}
figure, div {
    float: inherit;
}
.welcomeText {
    float: inherit;
    text-align: inherit;
    padding: 20px;
    font-size: 1.75em;
}
footer {
    position: relative;
    clear: left;
    color: #DDDAC7;
    font-size: 1em;
}
#logo {
    position: absolute;
    bottom: -20px;
    right: -300px;
}
table {
    margin: 10px auto;
}
td {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.3em;
}
td strong {
    color: #2B7E9F;
}
#table-header {
    background-color: #351a00;
}
.table-row {
    background-color: #753900;
    text-align: center;
}
ul {
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.hobby {
    color: yellow;
}
#content {
    font-size: 1.5em;
    padding-left: 200px;
    padding-right: 200px;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flex-container a {
    font-size: 1.5em;
    text-decoration: none;
    color: #DDDAC7; 
    font-family: 'Bungee Inline', cursive;
}
.button {
    background-color: #125A37;
    border: none;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    color: #DDDAC7; 
    font-family: 'Bungee Inline', cursive;
    position: absolute;
    bottom: 400px;
    right: 550px;
}

.button:hover {
    background-color: #DDDAC7;
    color: #125A37;
}